* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

/* Font */
.strong {
    font-weight: 600;
}

.light {
    font-weight: 100;
}

.tm {
    font-size: 20px;
    font-weight: 50;
}


/* Header */
header {
    grid-area: header;
    background-color: #857ee7;
    color: white;
}  

header h1 {
    font-size: 1.2em;
    flex-grow: 3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: auto;

}

.bell-svg-container {
    display: flex;
    justify-content: center;
    margin-left: auto;

}

.bell-icon {
    width: 1.2em;
    fill: white;
    margin-right: 8px;
}

.circle {
    background-color: #76C99A;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin-right: 16px;
    margin-left: -7px;
}

.bell-icon:hover {
    transform: scale(1.5);
    transition: 0.25s ease-out;
}

header img {
    width: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;

}

.header-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-member h3 {
    font-size: 0.9em;
}

/* Navigation */
.nav-bar-container {
    grid-area: navigation;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 50px;
    background-color: purple;
    fill: white;
}

.nav-icon {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
    fill: white
}

/* Main */
.main-header {
    display: flex;
}

.dashboard-headline {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 1.5em;
    margin-top: 0.8em;
}

.main-header-search {
    padding-top: 0.9em;
    padding-left: 1em;
    padding-bottom: 0.9em;
}

/* Alert Banner */
.alertBox1 {
    position: absolute;
    width: 150px;
    /* width: 155px; */
    top: 30px;
    z-index: 1;
    /* font-size: 7px; */
    font-size: 10px;
    margin-bottom: 3px;
}

p.alertBox1-close {
    margin-left: 5px;
}

.alert-banner {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    background-color: mediumpurple;
    color: white;
    margin-left: 20px;
    padding: 5px;
}


/* Traffic Line Graph + Daily Traffic Bar Graph */
.traffic,
.daily,
.mobile,
.social-stats-container,
.members,
.recent-activity,
.message-user,
.settings {
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}

.traffic-header h3,
.daily-header h3,
.mobile-header h3,
.social-stats-container h3,
.members h3,
.recent-activity h3,
.message-user h3,
.settings h3 {
    font-size: small;
    font-weight: bold;
    padding-left: 1.6em;
    margin-bottom: 8px;
}

.traffic-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 4em 0 1.5em;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

/* Social */
.social-stats {
    padding-bottom: 20px;
    margin-bottom: 15px;
    max-width: 98%;
  }
  
  .social-image {
    width: 30px;
    margin-right: 10px;
  }
  .social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-container {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 8px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 180px;
    width: 100%;
  }
  
  .social-text p:first-child {
    color: #857ee7;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .social-text p:last-child {
    font-size: 35px;
    color: gray;
    font-weight: 200;
  }
  
  .social-image {
    background-color: #857ee7;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outer {
    fill: white;
    width: 20px;
    height: 20px;
  }

/* Members */
.members-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
    padding-bottom: 15px;
}

.members-container:last-child {
    border-bottom: none;
}



.members-image img {
    height: 65px;
    border-radius: 50%;
}

.members-text {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.members-text p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.members-text a {
    font-size: 10px;
    padding-top: 4px;
    text-decoration: none;
}

.members-date {
    margin-top: 8px;
    font-size: 13px;
}

/* Recent Activity */
.recent-activity {
    margin: 15px 10px;
}

.recent-activity-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-top: 15px;
}

.recent-activity-container:last-child {
    border-bottom: none;
}

.recent-img img {
    height: 65px;
    border-radius: 50%;
}

.recent-text {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 6px;
    width: 80%;
    text-align: center;

}

.recent-text p:nth-of-type(1) {
    font-size: 13px;
}

.recent-text p:nth-of-type(2) {
    font-size: 10px;
    padding-top: 4px;
}


/* Message User */
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 2px solid lightgray;
    background-color: lightgray;
    margin-bottom: 8px;

}

.widget-container {
   width: 85%;
}

.widget-container button {
    width: 100%;
    background-color: purple;
    border-radius: 8px;
    color: white;
    margin: 8px 0 8px 0;
    height: 50px;
}

textarea {
    width: 100%;
    height: 120px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 8px 0 8px 0;
    background-color: lightgray;
}

/* Settings */
.settings-container {
    display: flex;
    flex-direction: column;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Toggle Swtich */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }

  .switch .label-text {
      display: inline-block;
      width: 300px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 20em;
    right: -22em;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7477BF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7477BF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Timezone */ 
  #timezone {
    padding: 15px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #ADADAD;
    border: solid 2px #F5F5F5;
    margin: 20px 0;
  }

  option:not(:first-of-type) {
    color: black;
  }

  /* Buttons */ 
    .settings-button {
      display: inline-flex;
      gap: 20px;
    
  }

  #save, 
  #cancel {
    flex-grow: 1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border-style: none;
  }

  #save {
      background-color: #7477BF;
  }

  #cancel {
      background-color: #9B9B9B;
  }










