* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "navigation"
      "main";
  }


body {
    background-color: white;
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    width: 100%;
  }

/* Header */
 

h1 {
    font-size: 21px;
    padding: 10px;
    font-weight: 100;
  }
/*header h1 {
    font-size: 1.2em;
    flex-grow: 3;
}*/

input {
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    border: lightgray 2px solid;
    border-radius: 5px;
    line-height: 2em;
  }

  header {
    /*grid-area: header;
    background-color: #857ee7;
    color: white;*/
    display: flex;
    grid-area: header;
    background-color: #7477bf;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
} 
  
.bell-svg-container {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.bell-icon {
    fill: white;
    height: 25px;
    width: 25px;
}

.bell-icon:hover {
    transform-origin: left-right;
    transform-box: fill-box;
    animation: spin 0.2s cubic-bezier(0.6, 0, 0.6, 1);
    animation-iteration-count: 10;
}

@keyframes spin {
    25% {
      transform: rotate(9deg);
    }
  
    25% {
      transform: rotate(-12deg);
    }
  
    100% {
      transform: rotate(12deg);
    }
}

  .circle {
    /*background-color: #76C99A;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin-right: 16px;
    margin-left: -7px;*/
    content: "";
    position: absolute;
    background-color: #07f261;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 1;
    right: 1;
}

.header-member {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.bar {
    font-size: 24px;
    font-weight: 100;
    color: #4d4c72;
    padding-left: 16px;
  }

  /*header img {
    width: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}*/

.img-member {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 8px;
  }

.light {
    font-weight: 100;
    text-align: center;
    font-size: 16px;
  }

/* Navigation */
.nav-bar-container {
    grid-area: navigation;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 50px;
    background-color: purple;
    fill: white;
}

.nav-icon {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
    fill: white
}

/* Main */
.main-header {
    display: flex;
}

.dashboard-headline {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 1.5em;
    margin-top: 0.8em;
}

.main-header-search {
    padding-top: 0.9em;
    padding-left: 1em;
    padding-bottom: 0.9em;
}



/* Alert Banner */
.bell-svg-container {
    fill: white;
    height: 25px;
    width: 25px;
}

.bell-svg-container:hover {
    transform-origin: left-right;
    transform-box: fill-box;
    animation: spin 0.2s cubic-bezier(0.6, 0, 0.6, 1);
    animation-iteration-count: 10;
}

@keyframes spin {
    25% {
      transform: rotate(9deg);
    }
  
    25% {
      transform: rotate(-12deg);
    }
  
    100% {
      transform: rotate(12deg);
    }
  }

.alert-banner {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    background-color: mediumpurple;
    color: white;
    margin-left: 20px;
    padding: 5px;
}


/* Traffic Line Graph + Daily Traffic Bar Graph */
.traffic,
.daily,
.mobile,
.social-stats-container,
.members,
.recent-activity,
.message-user,
.settings {
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}

.traffic-header h3,
.daily h3,
.mobile h3,
.social-stats-container h3,
.members h3,
.recent-activity h3,
.message-user h3,
.settings h3 {
    font-size: small;
    font-weight: bold;
    padding-left: 1.6em;
    margin-bottom: 8px;
}

.traffic-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 4em 0 1.5em;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

.split-widget {
    align-self: center;
  }

/* Social */
.social-stats {
    padding-bottom: 20px;
    margin-bottom: 15px;
    max-width: 98%;
  }
  
  .social-image {
    width: 30px;
    margin-right: 10px;
  }
  .social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-container {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 8px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 180px;
    width: 100%;
  }
  
  .social-text p:first-child {
    color: #857ee7;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .social-text p:last-child {
    font-size: 35px;
    color: gray;
    font-weight: 200;
  }
  
  .social-image {
    background-color: #857ee7;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outer {
    fill: white;
    width: 20px;
    height: 20px;
  }

/* Members */
.members-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
    padding-bottom: 15px;
}

.members-container:last-child {
    border-bottom: none;
}

.members-image img {
    height: 65px;
    border-radius: 50%;
}

.members-text {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.members-text p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.members-text a {
    font-size: 10px;
    padding-top: 4px;
    text-decoration: none;
}

.members-date {
    margin-top: 8px;
    font-size: 13px;
}

/* Recent Activity */
.recent-activity {
    margin: 15px 10px;
}

.recent-activity-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-top: 15px;
}

.recent-activity-container:last-child {
    border-bottom: none;
}

.recent-img img {
    height: 65px;
    border-radius: 50%;
}

.recent-text {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 6px;
    width: 80%;
    text-align: center;

}

.recent-text p:nth-of-type(1) {
    font-size: 13px;
}

.recent-text p:nth-of-type(2) {
    font-size: 10px;
    padding-top: 4px;
}


/* Message User */
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 2px solid lightgray;
    background-color: lightgray;
    margin-bottom: 8px;

}

.widget-container {
   width: 85%;
}

.widget-container button {
    width: 100%;
    background-color: purple;
    border-radius: 8px;
    color: white;
    margin: 8px 0 8px 0;
    height: 50px;
}

textarea {
    width: 100%;
    height: 120px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 8px 0 8px 0;
    background-color: lightgray;
}

/* Settings */
.settings-container {
    display: flex;
    flex-direction: column;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Toggle Swtich */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }

  .switch .label-text {
      display: inline-block;
      width: 300px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 20em;
    right: -22em;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7477BF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7477BF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Timezone */ 
  #timezone {
    padding: 15px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #ADADAD;
    border: solid 2px #F5F5F5;
    margin: 20px 0;
  }

  option:not(:first-of-type) {
    color: black;
  }

  /* Buttons */ 
    .settings-button {
      display: inline-flex;
      gap: 20px;
    
  }

  #save, 
  #cancel {
    flex-grow: 1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border-style: none;
  }

  #save {
      background-color: #7477BF;
  }

  #cancel {
      background-color: #9B9B9B;
  }


  /* Media Queries*/
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 55px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";
    }
  
    h1 {
      font-size: 26px;
      margin-left: 15px;
    }
  
    h3 {
      font-size: 14px;
    }
  
    .name {
      font-size: 21px;
    }
  
    .nav-bar-container {
      grid-template-columns: 1fr;
      align-content: flex-start;
      height: 100%;
    }
  
    .nav-icon {
      padding: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    .main {
      display: grid;
      grid-template-columns: 50%;
    }
  
    .main-header {
      grid-column: 1 / span 2;
    }
  
    #alert {
      grid-column: 1 / span 2;
      margin: 15px;
    }
  
    .traffic-nav {
      justify-content: flex-end;
    }
  
    .traffic-nav li {
      margin: 0 20px;
    }
  
    .social-wrapper {
      flex-direction: row;
      flex-basis: 33.3%;
      width: 100%;
    }
  
    .social-container {
      padding: 5px;
      justify-content: center;
    }
  
    /* Traffic data graph */
    .traffic,
    .social-stats-container {
      grid-column: 1 / span 2;
      border-bottom: 1px solid #d2d2d2;
    }
  
    .social-stats-container {
      border-top: 1px solid #d2d2d2;
      padding-bottom: 15px;
    }
  
    /* New Members Section */
    .daily,
    .members,
    .message-user {
      grid-column: 1 / span 1;
    }
  
    /*Recent Activity Section */
    .mobile,
    .recent-activity,
    .settings {
      grid-column: 2 / span 1;
      border-left: 1px solid #d2d2d2;
    }
  
    .widget-container-full {
      width: 90vw;
    }
  
    #daily-chart {
      padding: 8px;
    }
  
    .widget-container-half {
      width: 45vw;
    }
  }
  
  @media (min-width: 1024px) {
    .main {
      display: grid;
      grid-template-columns: 50%;
    }
  
    .widget-container-full {
      width: 90vw;
    }
  
    .widget-container-half {
      width: 45vw;
    }
  }










